<ion-menu contentId="content"side="end" menuId="content">
  <ion-header>
    <ion-title>
      <ion-item lines="none" >
        <ion-label>
          {{ 'label.menu' | translate }}
        </ion-label>
      </ion-item>
    </ion-title>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="!showInfoUser">
      <ion-item (click)="userOrderService.hasUser() ? logout() : showPanelInfoUser()">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>{{ userOrderService.hasUser() ? 'Logout' : 'label.start.session' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="cart-outline"></ion-icon>
        <ion-label>{{ 'label.see.order' | translate }}</ion-label>
        <ion-badge slot="end">
          {{ userOrderService.numProducts() }}
        </ion-badge>
      </ion-item>
    </ion-list>

    <app-login
      *ngIf="showInfoUser"
      (back)="back()"
      (doLogin)="back()"></app-login>
  </ion-content>
</ion-menu>

<ion-header transluent>
  <ion-toolbar>

    <ion-button slot="start" class="back-button" fill="clear" (click)="goBack()">
      <ion-icon
      *ngIf="showBack"
      name="arrow-back-outline"
      color="light">
      </ion-icon>
    </ion-button>

    <ion-title class="ion-text-center">
      <ion-img src="assets/img/logo_app.jpg" class="logo"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button color="light">

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
